/* Welcome to my CSS file! */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    /* set all margins and padding to a default of 0*/
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #C9E4FD; 
}

header {
    background-color: rgba(32, 180, 248, 0.5);
    text-align: center;
}

.background-info {
    background-color: #BDF;
}

img[src="images/professional.jpg"] {
    height: 250px;
    min-width: 5%;
    border-style: solid;
    border-radius: 50px;
    border-color: navy;
    border-width: 5px;
    
}

a {
    text-decoration: none;
}

a:hover {
    color: hsl(237, 83%, 50%);
}

a:active {
    color: hsla(0, 0%, 0%, 0.3);
}


#links {
    list-style-type: none;
}

nav {
    background-color: beige;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section > picture {
    margin: auto;
    position: relative;
}

img.fun {
    width: 200px;
    max-width: 90%;
}

@media screen and (max-width: 865px) {
    
    section > picture {
        margin-top: 50px;
    }
}

@media screen and (min-width: 600px) {
    
    img.fun {
        width: 250px;
    }
}

h2 ~ section {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

iframe, audio, video {
    display: none;
}

h2 + details {
    display: none;
}

form {
    display: none;
}
#skills li {
    display: inline;
    margin: 10px;
}

.kermit2  {
    width: 4cm;
}

.kermit3  {
    width: 2in;
}

.cats2 {
    width: 10em;
}

.cats3 {
    width: 20ch;
}

