/* Welcome to my CSS file! */



* {
    /* set all margins and padding to a default of 0*/
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: #C9E4FD; 
}

header {
    background-color: rgba(32, 180, 248, 0.5);
}

.background-info {
    background-color: #BDF;
}

img[alt="very handsome boy smiling"] {

}

a:hover {
    color: hsl(237, 83%, 37%);
}

a:active {
    color: hsla(0, 0%, 0%, 0.3);
}

#links {
    list-style-type: none;
}

#links li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}